*.pyc
*.mo
docs/build/*
*~

debian/ajenti*
debian/changelog
dist/*.rpm
dist/*.deb
dist/*.gz
dist/*.whl
*.egg*
build/*
debian/files
debian/*stamp*

.idea/
*.sublime-*

.~lock.*

crowdin.zip

# Compiled
*.coffee.js
*.less.css

# Compressed
*.c.js
*.c.css

ajenti/plugins/custom*
ajenti/plugins/ltfs*
ajenti/plugins/elements*
ajenti/plugins/test_*
ajenti/plugins/vh*

reconfigure

src
