/**/.DS_Store
/**/bower_components
/**/node_modules
/**/.idea
*.sublime-*
.~lock.*
*~
*.deb
*.pyc
*.gz
*.whl
*.egg*
*.asc
.last-upload
plugins/demo*
/**/build
*.mo
.idea*
.crowdin.key
.crowdin.token
.mypy_cache
