*.pyc
*.mo
docs/build/*
*~

debian/ajenti*
dist/*.rpm
dist/*.deb
dist/*.gz
*.egg*
build/*
debian/files
debian/*stamp*

.idea/
*.sublime-workspace

.~lock.*

crowdin.zip

# Compiled
*.coffee.js
*.less.css

# Compressed
*.c.js
*.c.css
*.tar.gz

ajenti/plugins/ltfs*
ajenti/plugins/elements*
ajenti/plugins/test*
