recursive-include ajenti * *.*
recursive-exclude ajenti *~ *.pyc
recursive-exclude packaging * *.*
include README
include COPYRIGHT
include LICENSE
include Makefile
include packaging/files/config.json
include packaging/files/ajenti
include packaging/files/.placeholder
