<div >
  <p>
    <mat-form-field appearance="fill" [style.width.%]="100">
      <mat-label translate>Device</mat-label>
      <input matInput placeholder="Device identifier" [(ngModel)]="device && device.device">
      <mat-icon matSuffix>storage</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill" [style.width.%]="100">
      <mat-label translate>Mountpoint</mat-label>
      <input matInput placeholder="/path/to/mountpoint" [(ngModel)]="device && device.mountpoint">
      <mat-icon matSuffix>usb</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill" [style.width.%]="100">
      <mat-label translate>Type</mat-label>
      <input matInput placeholder="Filesystem like ext4" [(ngModel)]="device && device.type">
      <mat-icon fontSet="fa" fontIcon="fa-cog" matSuffix></mat-icon>
    </mat-form-field>
  </p>
</div>
