<div class="row">
  <div class="col-xs-4">
    <div class="widget-header" translate>
      1 min
    </div>
    <div class="widget-value">
      {{averageLoad1minute}}
    </div>
  </div>
  <div class="col-xs-4">
    <div class="widget-header" translate>
      5 min
    </div>
    <div class="widget-value">
      {{averageLoad5minutes}}
    </div>
  </div>
  <div class="col-xs-4">
    <div class="widget-header" translate>
      15 min
    </div>
    <div class="widget-value">
      {{averageLoad15minutes}}
    </div>
  </div>
</div>
