<xml>
    <dialogbox id="dlgSettings" hidecancel="True">
        <scrollcontainer height="400" width="400">
        <dt id="list" width="100%">
            <dtr header="True" noborder="True">
                <dth>
                    <label text="Meter" />
                </dth>
                <dth width="50" />
            </dtr>
        </dt>
        </scrollcontainer>
    </dialogbox>
</xml>
