<bind:dict id="bind">
    <vc>
        <formline text="{Host}">
            <textbox bind="hostname" />
        </formline>
        <formline text="{Username}">
            <textbox bind="user" />
        </formline>
        <formline text="{Password}">
            <passwordbox bind="password" />
        </formline>
    </vc>
</bind:dict>