*.pyc
*.mo
docs/build/*
*~

debian/ajenti*
debian/changelog
dist/*.rpm
dist/*.deb
dist/*.gz
dist/*.whl
*.egg*
build/*
debian/files
debian/*stamp*

.idea/
*.sublime-*

.~lock.*

crowdin.zip

.bowerrc
plugins/*/resources/build
plugins/*/resources/vendor
ajenti/plugins/*/resources/build
ajenti/plugins/*/resources/vendor

.resource-cache
