# core
arrow
bs4
legacy-cgi; python_version >= '3.13'
cookies
cryptography
distro
greenlet>=2.0.2
gevent<=25.5.1
gevent-websocket
gipc==1.8.0
itsdangerous
jadi>=1.0.3
jinja2
lxml>=2.2.4
passlib
pexpect
psutil>=2.2.1
pyOpenSSL
pyotp
python-daemon
python-socketio==5.14.1
python-engineio>=4.12.0
pyyaml
qrcode
reconfigure
requests>=2
setproctitle
simplejson
six>=1.9.0
termcolor
pip>=20
setuptools>=41
zope.event==5.1.1
