# core

gevent
gevent-socketio
gevent-websocket
lxml>=2.2.4
passlib
psutil>=0.6.0
python-catcher
python-daemon<2.0
requests>=0.12.0
pyOpenSSL
Pillow
gipc
pyte
setproctitle
termcolor
cookies
pyyaml

# upstart
upstart
dbus # for upstart

# packages
## --allow-unverified python-apt
#python-apt
