Source: ajenti
Section: admin
Priority: optional
Maintainer: Eugene Pankov <e@ajenti.org>
Build-Depends: debhelper (>=8.0.0), python-support (>= 0.6), cdbs (>= 0.4.49)
XS-Python-Version: >=2.6
Standards-Version: 3.9.1

Package: ajenti
Architecture: all
Homepage: http://ajenti.org/
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends}, ${python:Depends}, python-lxml (>=2.2.4), python-gevent, openssl, python-gevent-socketio, python-psutil (>=0.6.0), python-reconfigure (>=0.1.38), python-daemon, python-passlib, python-requests (>=0.12.0), python-dbus, python-imaging, apt-show-versions, python-catcher, python-exconsole (>=0.1.5), python-ldap
Description: Server administration web interface
 It provides rich functionality and support for lots of server software,
 along with system configuration options.
 Lots of additional plugins can be downloaded with plugin manager.
