<xml>
    <dialogbox id="dlgAcl" hidecancel="True">
        <hcontainer>
            <div>
                <label size="5" text="Current ACLs"/>
                <pad>
                    <dt id="list">
                        <dtr header="True">
                            <dth>
                                <label text="Subject"/>
                            </dth>
                            <dth>
                                <label text="Access"/>
                            </dth>
                            <dth />
                        </dtr>
                    </dt>
                </pad>
            </div>

            <div>
                <label size="5" text="Create new ACL"/>
                <br/><br/>
                <formbox hidecancel="True" id="frmAddAcl">
                    <formline text="Subject" help="u:john, g:admins, default:u:jack, mask:, other:, u:, g:">
                        <textinput name="subject" />
                    </formline>
                    <formline text="Permissions" help="r, w, x, rw, rwx, ...">
                        <textinput name="perm" />
                    </formline>
                </formbox>
            </div>
        </hcontainer>
    </dialogbox>
</xml>
