<box>
    <vc binder:context="classconfig">
        <formline text="{Topmost directory}">
            <textbox bind="[root]" />
        </formline>
        <formline text="{Startup directory}">
            <textbox bind="[start]" />
        </formline>
        <formline text="{Owner for new files}">
            <textbox bind="[new_owner]" />
        </formline>
        <formline text="{Group for new files}">
            <textbox bind="[new_group]" />
        </formline>
        <formline text="{Isolate users}">
            <tooltip text="{Subfolders of the topmost directory will be created and set for every user.}">
                <checkbox bind="[isolate]" text="{Enable}" />
            </tooltip>
        </formline>
    </vc>
</box>
