body {
    font-family: 'PT Sans', Lato, proxima-nova, 'Helvetica Neue', Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'PT Sans', Lato, proxima-nova, 'Helvetica Neue', Arial, sans-serif;
} 