<box>
    <vc binder:context="classconfig">
        <formline text="{Topmost directory}">
            <tooltip text="{If isolation is enabled enter the same as the File Manager topmost directory}">
                  <textbox bind="[root]" />
            </tooltip>
        </formline>
        <formline text="{Isolated user subfolders}">
            <tooltip text="{This option must be enabled in the File Manager module as well.}">
                  <checkbox bind="[isolate]" text="{Enable}" />
            </tooltip>
        </formline>
    </vc>
</box>
